.flows.json.backup
[{"id":"a3c59169.33aae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16363874.e1ee38","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"C_IoT_01","tz":""},{"id":"aaf21606.197618","type":"inject","z":"a3c59169.33aae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["dea2ba93.b55438"]]},{"id":"dea2ba93.b55438","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":60,"wires":[]},{"id":"975459ed.2b0d38","type":"mysql","z":"a3c59169.33aae","mydb":"16363874.e1ee38","name":"registrosensor","x":380,"y":440,"wires":[["bd25885b.3acc88"]]},{"id":"38a36879.f3f2c8","type":"inject","z":"a3c59169.33aae","name":"Crear Tabla sql","topic":" CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[[]]},{"id":"2962f570.8210ca","type":"inject","z":"a3c59169.33aae","name":"Mostrar Tablas sql","topic":"describe registrosensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[[]]},{"id":"444fc6ab.d856d8","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":220,"wires":[]},{"id":"da929e2f.9cf2a","type":"inject","z":"a3c59169.33aae","name":"simularJson","topic":"","payload":"{\"temperatura\":15,\"humedad\":96}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["fd966b88.3291e8"]]},{"id":"fd966b88.3291e8","type":"function","z":"a3c59169.33aae","name":"insertSql","func":"temperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad;\n\nmsg.topic = \"insert into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["975459ed.2b0d38"]]},{"id":"bd25885b.3acc88","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":500,"wires":[]}]