.flows.json.backup
[{"id":"a3c59169.33aae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d23f65bc.8efeb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"16363874.e1ee38","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"C_IoT_01","tz":""},{"id":"88fe077a.9664d8","type":"ui_group","z":"d23f65bc.8efeb8","name":"SENSORS","tab":"99ab8dc5.f435c","disp":true,"width":"6","collapse":false},{"id":"9b1def04.ad706","type":"ui_tab","z":"d23f65bc.8efeb8","name":"HTTP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"aaf21606.197618","type":"inject","z":"a3c59169.33aae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["dea2ba93.b55438"]]},{"id":"dea2ba93.b55438","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":60,"wires":[]},{"id":"975459ed.2b0d38","type":"mysql","z":"a3c59169.33aae","mydb":"16363874.e1ee38","name":"registrosensor","x":380,"y":440,"wires":[["bd25885b.3acc88"]]},{"id":"38a36879.f3f2c8","type":"inject","z":"a3c59169.33aae","name":"Crear Tabla sql","topic":" CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[[]]},{"id":"2962f570.8210ca","type":"inject","z":"a3c59169.33aae","name":"Mostrar Tablas sql","topic":"describe registrosensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[[]]},{"id":"444fc6ab.d856d8","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":220,"wires":[]},{"id":"da929e2f.9cf2a","type":"inject","z":"a3c59169.33aae","name":"simularJson","topic":"","payload":"{\"temperatura\":15,\"humedad\":96}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["fd966b88.3291e8"]]},{"id":"fd966b88.3291e8","type":"function","z":"a3c59169.33aae","name":"insertSql","func":"temperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad;\n\nmsg.topic = \"insert into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["975459ed.2b0d38"]]},{"id":"bd25885b.3acc88","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":500,"wires":[]},{"id":"f706d567.8462a8","type":"http response","z":"d23f65bc.8efeb8","name":"","statusCode":"200","headers":{},"x":340,"y":340,"wires":[]},{"id":"e6308d86.2c2f6","type":"json","z":"d23f65bc.8efeb8","name":"","property":"payload","action":"obj","pretty":true,"x":330,"y":460,"wires":[["990220de.c42a7"]]},{"id":"d13ca39.3e2126","type":"debug","z":"d23f65bc.8efeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":360,"wires":[]},{"id":"990220de.c42a7","type":"function","z":"d23f65bc.8efeb8","name":"JSON or URL Encoded","func":"var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\nvar msg4 = { payload: msg.payload.value3 };\n\nreturn [msg0, msg1, msg2, msg3, msg4];","outputs":5,"noerr":0,"x":530,"y":460,"wires":[["d13ca39.3e2126"],[],[],[],[]]},{"id":"8b99bf1c.d402f","type":"http in","z":"d23f65bc.8efeb8","name":"","url":"update-sensor","method":"post","upload":false,"swaggerDoc":"","x":120,"y":391,"wires":[["f706d567.8462a8","d13ca39.3e2126","e6308d86.2c2f6"]]},{"id":"1a409212.9bc8de","type":"http response","z":"d23f65bc.8efeb8","name":"","statusCode":"200","headers":{},"x":460,"y":71,"wires":[]},{"id":"cb23c4b6.2a1ed8","type":"http in","z":"d23f65bc.8efeb8","name":"","url":"/get-sensor","method":"get","upload":false,"swaggerDoc":"","x":100,"y":251,"wires":[["f051c54e.153008"]]},{"id":"9c70ea9a.8b3888","type":"http response","z":"d23f65bc.8efeb8","name":"","statusCode":"200","headers":{},"x":460,"y":211,"wires":[]},{"id":"f051c54e.153008","type":"function","z":"d23f65bc.8efeb8","name":"","func":"msg.payload = {\"value1\":24.25, \"value2\":49.54, \"value3\":1005.14};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":251,"wires":[["9c70ea9a.8b3888","faf5cb2d.aeafd8"]]},{"id":"faf5cb2d.aeafd8","type":"debug","z":"d23f65bc.8efeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":279,"wires":[]},{"id":"c043a396.0f0d9","type":"debug","z":"d23f65bc.8efeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":151,"wires":[]},{"id":"a4360f3d.5cbfc","type":"http in","z":"d23f65bc.8efeb8","name":"","url":"/update-sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":111,"wires":[["91c7a3eb.d2b3"]]},{"id":"91c7a3eb.d2b3","type":"function","z":"d23f65bc.8efeb8","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":111,"wires":[["c043a396.0f0d9","1a409212.9bc8de"]]}]