flows.json
[{"id":"a3c59169.33aae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d23f65bc.8efeb8","type":"tab","label":"Creating a User Interface","disabled":false,"info":"In this section we’re going to make a dashboard example to show you how you can build and edit your own dashboard – we won’t actually add functionalities to the widgets – we’ll do that in future projects. This dashboard will have the following features:\r\n\r\n - Two different tabs: one called Room and another called Garden\r\n - The Room tab will have two groups and the Garden tab will have one group\r\n - We’ll add a color picker and a switch to the room groups\r\n - We’ll add a chart to the Garden group"},{"id":"25c28336.428e7c","type":"tab","label":"ESP32","disabled":false,"info":""},{"id":"16363874.e1ee38","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"C_IoT_01","tz":""},{"id":"9b1def04.ad706","type":"ui_tab","z":"d23f65bc.8efeb8","name":"Room","icon":"tv","order":1,"disabled":false,"hidden":false},{"id":"62d6ebd5.014b64","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b74ad8d5.3032b8","type":"ui_tab","z":"","name":"Garden","icon":"local_florist","order":2,"disabled":false,"hidden":false},{"id":"7183c2cd.11de1c","type":"ui_group","name":"Group 1","tab":"9b1def04.ad706","order":1,"disp":true,"width":6},{"id":"9effca63.8ba428","type":"ui_group","name":"Group 2","tab":"9b1def04.ad706","order":2,"disp":true,"width":6},{"id":"91b6eafe.0374a8","type":"ui_group","name":"Group 1","tab":"b74ad8d5.3032b8","order":1,"disp":true,"width":6},{"id":"97c370ed.d36af","type":"ui_group","z":"","name":"SENSORS","tab":"28b584ea.c78f1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"28b584ea.c78f1c","type":"ui_tab","z":"","name":"HTTP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"aaf21606.197618","type":"inject","z":"a3c59169.33aae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["dea2ba93.b55438"]]},{"id":"dea2ba93.b55438","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":60,"wires":[]},{"id":"975459ed.2b0d38","type":"mysql","z":"a3c59169.33aae","mydb":"16363874.e1ee38","name":"registrosensor","x":380,"y":440,"wires":[["bd25885b.3acc88"]]},{"id":"38a36879.f3f2c8","type":"inject","z":"a3c59169.33aae","name":"Crear Tabla sql","topic":" CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[[]]},{"id":"2962f570.8210ca","type":"inject","z":"a3c59169.33aae","name":"Mostrar Tablas sql","topic":"describe registrosensor","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[[]]},{"id":"444fc6ab.d856d8","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":220,"wires":[]},{"id":"da929e2f.9cf2a","type":"inject","z":"a3c59169.33aae","name":"simularJson","topic":"","payload":"{\"temperatura\":15,\"humedad\":96}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["fd966b88.3291e8"]]},{"id":"fd966b88.3291e8","type":"function","z":"a3c59169.33aae","name":"insertSql","func":"temperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad;\n\nmsg.topic = \"insert into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["975459ed.2b0d38"]]},{"id":"bd25885b.3acc88","type":"debug","z":"a3c59169.33aae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":500,"wires":[]},{"id":"fdab7a5e.30d468","type":"ui_switch","z":"d23f65bc.8efeb8","name":"","label":"switch","tooltip":"","group":"7183c2cd.11de1c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":80,"wires":[[]]},{"id":"89eab75d.a8d8a8","type":"ui_slider","z":"d23f65bc.8efeb8","name":"","label":"slider","tooltip":"","group":"7183c2cd.11de1c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":240,"y":140,"wires":[[]]},{"id":"93e83fcf.bfa95","type":"ui_colour_picker","z":"d23f65bc.8efeb8","name":"","label":"","group":"9effca63.8ba428","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":280,"y":220,"wires":[[]]},{"id":"781246c4.a97498","type":"ui_gauge","z":"d23f65bc.8efeb8","name":"","group":"91b6eafe.0374a8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":300,"wires":[]},{"id":"2efd8047.e604d","type":"http response","z":"25c28336.428e7c","name":"","statusCode":"200","headers":{},"x":340,"y":340,"wires":[]},{"id":"60bda6d7.a482b8","type":"json","z":"25c28336.428e7c","name":"","property":"payload","action":"obj","pretty":true,"x":330,"y":460,"wires":[["f80459f1.8ef278"]]},{"id":"7cccfe65.9d329","type":"debug","z":"25c28336.428e7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":360,"wires":[]},{"id":"250a3f4f.f3dce","type":"ui_gauge","z":"25c28336.428e7c","name":"","group":"97c370ed.d36af","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":480,"wires":[]},{"id":"90a13898.329228","type":"ui_gauge","z":"25c28336.428e7c","name":"","group":"97c370ed.d36af","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#0062c4","#002f5e"],"seg1":"","seg2":"","x":760,"y":540,"wires":[]},{"id":"f80459f1.8ef278","type":"function","z":"25c28336.428e7c","name":"JSON or URL Encoded","func":"var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\nvar msg4 = { payload: msg.payload.value3 };\n\nreturn [msg0, msg1, msg2, msg3, msg4];","outputs":5,"noerr":0,"x":530,"y":460,"wires":[["7cccfe65.9d329"],[],["250a3f4f.f3dce"],["90a13898.329228"],[]]},{"id":"8d77edca.9dbd","type":"http in","z":"25c28336.428e7c","name":"","url":"update-sensor","method":"post","upload":false,"swaggerDoc":"","x":120,"y":391,"wires":[["2efd8047.e604d","7cccfe65.9d329","60bda6d7.a482b8"]]},{"id":"550aba41.9d5f04","type":"http response","z":"25c28336.428e7c","name":"","statusCode":"200","headers":{},"x":460,"y":71,"wires":[]},{"id":"c3512a36.94d1f8","type":"http in","z":"25c28336.428e7c","name":"","url":"/get-sensor","method":"get","upload":false,"swaggerDoc":"","x":100,"y":251,"wires":[["e43c40dd.5f1fd"]]},{"id":"49cc81bf.e4e92","type":"http response","z":"25c28336.428e7c","name":"","statusCode":"200","headers":{},"x":460,"y":211,"wires":[]},{"id":"e43c40dd.5f1fd","type":"function","z":"25c28336.428e7c","name":"","func":"msg.payload = {\"value1\":24.25, \"value2\":49.54, \"value3\":1005.14};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":251,"wires":[["49cc81bf.e4e92","1e07904b.18cb7"]]},{"id":"1e07904b.18cb7","type":"debug","z":"25c28336.428e7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":279,"wires":[]},{"id":"4c614f07.69ea1","type":"debug","z":"25c28336.428e7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":140,"wires":[]},{"id":"10e04885.fc9d87","type":"http in","z":"25c28336.428e7c","name":"","url":"/update-sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":111,"wires":[["780fca49.a5b744"]]},{"id":"780fca49.a5b744","type":"function","z":"25c28336.428e7c","name":"","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":111,"wires":[["4c614f07.69ea1","550aba41.9d5f04"]]}]